#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.titleContainer {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.2fr 2.5fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "sideBar gameContainer gameContainer"
    "footer footer footer";
}

.gameContainer {
  margin: 5px;
  border: 3px solid #65451f;
  border-radius: 18px;
  max-height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.4fr 2.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pageTitle pageTitle pageTitle"
    ". searchBarContainer ."
    "contents contents contents";
  grid-area: gameContainer;
}

.gameContainer.newPlayer,
.gameContainer.singlePlayer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2.1fr;
  grid-template-areas:
    "pageTitle pageTitle pageTitle "
    "contents contents contents ";
}

.pageTitle {
  grid-area: pageTitle;
  text-align: center;
}

.searchBarContainer {
  grid-area: searchBarContainer;
  display: inline-block;
}

.contents {
  max-width: 1400px;
  max-height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    " . . . "
    " . . . "
    " . . .";
  grid-area: contents;
  overflow-y: scroll;
  text-align: center;
  align-items: center;
}

.contents.newPlayer {
  grid-template-rows: 1fr;
  grid-template-columns: auto 400px auto;
  text-align: center;
  grid-template-areas: ". formContent .";
}

.contents.singlePlayer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: " playerImg playerInfo buttonContainer ";
}

.playerImg {
  grid-area: playerImg;
}

.playerInfo {
  grid-area: playerInfo;
}

.buttonContainer {
  grid-area: buttonContainer;
}

.contents.allPlayers {
  text-align: center;
}

.title {
  grid-area: title;
}

.footer {
  grid-area: footer;
  margin-top: 18px;
}

.sideBar {
  margin: 5px;
  display: grid;
  max-height: 650px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: fit-content(100px) fit-content(18px) auto fit-content(
      18px
    );
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    "pickTitle pickTitle pickTitle"
    "selectedTeam selectedTeam selectedTeam"
    "clearTeamBtn clearTeamBtn clearTeamBtn";
  grid-area: sideBar;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  background-color: #c8ae7d;
  border: 3px solid #65451f;
  border-radius: 18px;
  padding: 25px;
  object-fit: contain;
  height: 80px;
  margin-bottom: 16px;
}

.pickTitle {
  grid-area: pickTitle;
}

.selectedTeam {
  grid-area: selectedTeam;
  overflow-y: scroll;
  border: 3px solid #65451f;
  border-radius: 18px;
  padding: 8px;
}

.formContent {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "form form form"; */
  grid-area: formContent;
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: form;
}

.contents > button {
  width: min-content;
}

form > button {
  margin-left: center;
}

.player {
  max-width: 300px;
  height: 150px;
  margin: 3px;
  border: 3px solid transparent;
  border-radius: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #c8ae7d;
  overflow: hidden;
}

.player:hover {
  transition: all 0.3s ease-out;
  background-color: #a2cdb0;
}

.pickContainer {
  display: inline;
}

.dogInfo {
  text-align: right;
  margin: 5px;
}

.dogImg {
  margin-top: 8px;
  padding: 4px;
}

img {
  border-radius: 8px;
}

#singleImg {
  width: 200px;
  height: 200px;
}

#searchBar {
  display: inline-block;
  font-size: 35px;
  padding: 6px;
  border-radius: 35px;
}

.headerImg {
  position: relative;
  margin-left: 30%;
}

#corgiHeader {
  height: 426px;
  width: 640px;
  position: absolute;
  bottom: 0;
}

ul {
  list-style-image: url(/img/paw.png);
}
