:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #65451f;
  background-color: #eac696;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #cee6f3;
  text-decoration: inherit;
  text-align: center;
  border: 2px solid #65451f;
  border-radius: 6px;
  background-color: #765827;
  width: 150px;
}
a:hover {
  color: black;
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #765827;
  color: #c8ae7d;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 2px;
  width: fit-content;
}
button:hover {
  border-color: #ffc95f;
  background-color: #ffc95f;
  color: #862b0d;
  font-weight: bold;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f7e987;
    background-color: #252b48;
  }
  a:hover {
    color: black;
  }
  button {
    background-color: #5b9a8b;
  }
  button:hover {
    border-color: #f7e987;
  }
  .navbar {
    border: 3px solid #5b9a8b;
  }
  .player {
    background-color: #445069;
  }
  a {
    color: white;
    border: 2px solid #5b9a8b;
    background-color: #445069;
  }
}
